{% extends "layout.html" %}
{% block content %}
<div class="row d-flex-column card--container mx-2">
    <h3 class="main--title">Crime Statistics</h3>
    <div class="row">
        <!-- Card 1 -->
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-scale-balanced icon"></i>
                    <strong>Petition</strong>
                </div>
                <div class="card-body row">
                    <p class="col-12"><Strong style="font-size: 1rem;">💵: </Strong>2,345</p>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-people-robbery icon"></i>
                    <strong>Suspect</strong>
                </div>
                <div class="card-body row">
                    <p class="col-"><Strong style="font-size: 1rem;">💵: </Strong>2,345</p>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-gem icon"></i>
                    <strong>Recovery</strong>
                </div>
                <div class="card-body row">
                    <p class="col-6"><Strong style="font-size: 1rem;">💵: </Strong>2,345</p>
                    <p class="col-6"><Strong style="font-size: 1rem;">💷: </Strong>2,345</p>
                    <p class="col-6"><Strong style="font-size: 1rem;">💶: </Strong>2,345</p>
                    <p class="col-6"><Strong style="font-size: 1rem;">💵: </Strong>2,345</p>
                </div>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-header">
                    <i class="fa-solid fa-spinner icon"></i> <strong>Status</strong>
                </div>
                <div class="card-body row">
                    <p class="col-6"><Strong>UI:</Strong> 22</p>
                    <p class="col-6"><Strong>Legal:</Strong> 22</p>
                    <p class="col-6"><Strong>Court:</Strong> 22</p>
                    <p class="col-6"><Strong>Convicted:</Strong> 22</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flash Message -->
<div class="row mt-2 px-2">
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<!-- Crime Investigation Overview -->
<div class="row mx-2">
    <div class="tabular--wrapper">
        <h3 class="main--title">Crime Investigation Overview</h3>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="row">&nbsp;</th>
                        {% for k in dashboard_result_list[0].keys() %}
                        {% if k != 'id' %}
                        <th scope="col">{{ k }}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for obj in dashboard_result_list %}

                    <tr data-petition-id="{{ obj['id'] }}">
                        <th scope="row">{{ loop.index }}</th>
                        {% for k, v in obj.items() %}
                        {% if k != 'id' %}
                        <td>{{ obj.get(k, '') }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>

                    {% endfor %}
                </tbody>
                <!-- <tfoot class="table-dark ps-3">
                    <tr>
                        <td colspan="{{ dashboard_result_list[0]|length + 1 }}">Total Petitions: {{ sum_petition }}
                        </td>
                    </tr>
                </tfoot> -->
                <tfoot class="table-dark ps-3">
                    <tr>
                        <td colspan="{{  dashboard_result_list[0]|length-1}}">Total Petitions: {{ sum_petition }}
                        </td>
                        <td colspan="2"><button type="button" class="btn btn-dark" id="formSwitch"
                                data-id="formContent">Add
                                New
                                Petition</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Petition Registration Form -->
<div class="row mx-2">
    <div class="form--content hidden" id="formContent">
        <form action="{{ url_for('app_views.dashboard') }}" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 form--title">Register Petition</legend>

                <!-- Form fields for Petition -->
                {% for field in form %}
                {% if field.type != 'CSRF Token' and field.type != 'SubmitField' %}
                <div class="form-group">
                    {{ field.label(class="form-control-label") }}
                    {% if field.errors %}
                    {{ field(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ field(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}

                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                    {{ form.reset(class="btn btn-outline-danger") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}