<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title> EFCC </title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- CDN LINK -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="sidebar">
        <div class="logo"><img src="{{ url_for('static', filename='efcc_logo1.jfif') }}" alt="EFCC"></div>
        <ul class="my-menu list-group list-group-flush">
            <li class="list-group-item">
                <a href="#">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="/petitions">
                    <i class="fa-solid fa-scale-balanced"></i>
                    <span>Petition</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="/complainants">
                    <i class="fa-solid fa-user-tie"></i>
                    <span>Complainant</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="/suspects">
                    <i class="fa-solid fa-people-robbery"></i>
                    <span>Suspect</span>
                </a>
            </li>
            <!-- <li class="list-group-item">
                <a href="/offences">
                    <i class="fa-solid fa-handcuffs"></i>
                    <span>Offence</span>
                </a>
            </li> -->
            <li class="list-group-item">
                <a href="/recoveries">
                    <i class="fa-solid fa-gem"></i>
                    <span>Recovery</span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="/statuses">
                    <i class="fa-solid fa-spinner"></i>
                    <span>Status</span>
                </a>
            </li>
            <li class="list-group-item logout">
                <a href="{{ url_for('app_views.logout') }}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main--content">
        <div class="row mx-2">
            <div class="d-flex bd-highlight justify-content-between align-items-center header--wrapper">
                <div class="header--title">
                    {% if title %}
                    {{ title }}
                    {% else %}
                    MENU
                    {% endif %}
                </div>
                <div class="flex-nowrap d-flex justify-content-center align-items-center">
                    <div class="search--box">
                        <i class="fa-solid fa-search"></i>
                        <input type="text" placeholder="Search Case File No">
                    </div>
                    {% if gender == "Male" %}
                    <img src="{{ url_for('static', filename='img/body/male_silhouette2.png') }}" alt="Staff Image">
                    {% else %}
                    <img src="{{ url_for('static', filename='img/body/female_silhouette.png') }}" alt="Staff Image">
                    {% endif %}
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/form.js') }}"></script>
</body>

</html>